body , html {
    font-family: sans-serif, 'Meiryo UI', 'メイリオ', 'ＭＳ Ｐゴシック', Arial;
    height: 99%;
    width: 99%;
}

a {
    font-size: 10pt;
}


#header {
    font-size: 11pt;
    color: white;
    background: #417690;
    border-radius: 4px;
    height: 60px;
    padding: 4px;
    text-align: left;
}


#footer {
	font-size: 11pt;
	color: white;
	background: linear-gradient(to right, #4682B4, #87CEEB);
	border-radius: 4px;
	padding: 2px;
	height:60px;
	text-align: left;
}


#OtherInfo {
    position: absolute;
    margin: auto ;
    bottom: 60px;
    width: 98%;
    border: 1px solid #dcdcdc;
    background: linear-gradient(to top, #fffffd, #aaa);
}


/* 各フレーム */
.ItemHeader {
    position: relative;
    margin: auto;
    padding: 5px 0 0 10px;
    font-size: 12pt;
    color: #fff;
    border: 1px solid #dcdcdc;
    background: #79aec8;
    border-radius: 4px;
    height: 33px;
    width: 80%;
    text-align: left;
    top: 60px;
    z-index:2; 
}


#LoginInfo {
    position: relative;
    margin: auto;
    padding: 5px 0 0 5px;
    border: 1px solid #a4a4a4;
    box-shadow: 4px 4px 6px -2px #a4a4a4;
    height: 500px;
    width: 80%;
    top: 58px;
    z-index:1;
}

#LoginInfo {
    position: relative;
    margin: auto;
    padding: 5px 0 0 5px;
    border: 1px solid #a4a4a4;
    box-shadow: 4px 4px 6px -2px #a4a4a4;
    height: 500px;
    width: 80%;
    top: 58px;
    z-index:1;
}


.myForm {
    position: absolute;
    margin: auto;
    width: 25%;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.help {
    position: absolute;
    margin: auto;
    width: 95%;
    height: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* dropzone */
#drop_area {
　　　position:relative;
    margin: auto;
    text-align: center;
	font-size: 11pt;
	color: #000;
	height: 360px;
	width: 55%;
	margin-top: 40px;
	border: 2px dashed #a4a4a4;
	background-image: url("../image/DEEPS_logo_input.png");
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0.6;
}


#preview_area {
    margin: -250px 100px 0 10px;
	font-size: 10pt;
	float:right;
}


#image_area {
    margin: 160px 0 0 40px;
    float:right;
}


#template_area {
    position: relative;
    margin: auto ;
    top: 75px;
    height: 100px;
    width: 45%;
}

#message_area {
    position: relative;
    margin: auto ;
    top: 150px;
    height: 200px;
    width: 35%;
}


#BackDiv {
    position: relative;
    margin: auto ;
    top: 100px;
    height: 60px;
    width: 98%;
    text-align: center;
}


#BackButton {
    position: relative;
    margin: auto ;
    height: 30px;
    width: 70px;
    vertical-align: middle;
    text-align: center;
}


#wave{
    position: relative;
    margin: auto;
    height: 33px;
    width: 100%;
    top: 60px;
    z-index:2; 
}


#dialog1 {
  position: relative;
  margin: 3px 2px 1px 2px;
  height: 300px;
  width: 300px;
  display: none;
  border: 1px solid #87CEEB;
  z-index: 3;
}
